html,
body {
    height: 100%;
    width: 100%;
    /* margin-top: 10px; */
    /* padding: 50px; */
}

#basic {
    margin-top: 20px;
    margin-left: 5px;
}

#mapid {
    float: left;
    height: 500px;
    width: 59%;
    padding: 0px;
    margin-bottom: 20px;
    float: left;
}

#float-menu {
    float: right;
    height: 500px;
    width: 39.6%;
    margin-right: 5px;
}

.heatmap_toggle_group {
    width: 220px;
}

#weatherStationContainer {
    padding: 10px;
}

#heatmap {
    position: relative;
    height: 95%;
    width: 95%;
}

#discovery {
    position: relative;
    height: 95%;
    width: 95%;
}

#history_option {
    width: 250 px;
}

#history {
    position: relative;
    height: 95%;
    width: 100%;
}

#history-dropdown {
    position: relative;
    height: 50px;
    width: 60%;
    padding: 20px;
    margin-bottom: 10px;
}

#hist_spot {
    position: relative;
    height: 69%;
    width: 100%;
}

#history_update {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

#send_discovery_query {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

#heatmap_update {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header-tab-menu {
    text-align: left;
    vertical-align: top;
    position: relative;
    width: 90%;
    margin-left: 0%;
}

.heatmap_slider_class {
    background: black;
}

#heatmap_header {
    margin-left: 30px;
}

#uc-header {
    width: 5%;
    display: inline-block;
}

#tabs-header {
    width: 75%;
    display: inline-block;
}

#fiesta-header {
    display: inline-block;
    position: absolute;
    right: 0px;
    text-align: right;
    width: 15%;
    font-family: times, serif;
    font-size: 14pt;
    font-style: bold;
}


/* .btn-discovery {
    width: 75px;
}

.btn-discovery.active {
    font-weight: bold;
}

.btn-last {
    width: 85px;
    margin-left: 75px;
    background-color: lime;
}

.btn-last.active {
    background-color: limegreen;
    font-weight: bold;
}

.nav {
    padding: 0px;
    margin-left: 10px;
} */

.tab_content {
    padding: 0px;
}

hr {
    display: block;
    position: relative;
    margin: 10px;
    height: 0;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
    /*box-shadow: 0 0 10px 1px black;*/
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 20px;
    /*display: flex;*/
    background-color: #eeeeee;
}

#footer>div {
    margin: auto;
    padding: 0 5px;
    font-size: 0.8em;
    /*    border-left: solid;
    border-right: solid;*/
}

.overlay {
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /* background-color: white; */
    padding: 20px;
    /*border-radius: 5px;*/
}


/* #sendButtons {
    width: 100%;
} */

#ex1Slider .slider-selection {
    background: #BABABA;
}

.btn-group-vertical {
    padding: 10px;
}

table#heatmap_table {
    border-collapse: separate;
    border-spacing: 20px 0px;
}